* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;

    --primary-one: hsl(225, 100%, 94%);
    --primary-two: hsl(245, 75%, 52%);

    --neutral-pale: hsl(225, 100%, 98%);
    --neutral-desaturated: hsl(224, 23%, 55%);
    --neutral-dark: hsl(223, 47%, 23%);
}

body {
    margin: 0;
}

h2 {
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 500;
}