* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;

    --primary-one: hsl(225, 100%, 94%);
    --primary-two: hsl(245, 75%, 52%);

    --neutral-pale: hsl(225, 100%, 98%);
    --neutral-desaturated: hsl(224, 23%, 55%);
    --neutral-dark: hsl(223, 47%, 23%);
}

body {
    margin: 0;
    background-image: url('../images/pattern-background-mobile.svg');
    background-repeat: repeat-x;
    background-color: var(--primary-one);

    display: grid;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    body {
        background-image: url('../images/pattern-background-desktop.svg');
    }
}

h2 {
    font-weight: 900;
    color: var(--neutral-dark);
}

h3 {
    font-weight: 900;
    font-size: 1rem;
    color: var(--neutral-dark);
}

p {
    font-size: 16px;
    font-weight: 500;
    color: var(--neutral-desaturated);
}

a {
    font-weight: 700;
    color: var(--primary-two);
}

.order-summary-component {
    background-color: white;
    border-radius: 5%;
    overflow-y: scroll;
    overflow-x: hidden;

    min-height: 0;
    height: 40em;
    max-height: 80vh;
    min-width: 278px;
    max-width: 410px;
    margin: 10vh 2rem;
    padding: 0 1.25em 1em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-summary-component::-webkit-scrollbar {
    display: none;
}

.order-summary-illustration {
    /* max-height: 30%; */
    width: 115%;
}

.order-title {
    flex-grow: 1;

    margin: 0;
    padding-top: 1.25em;
}

.order-description {
    flex-grow: 3;
    text-align: center;
    line-height: 1.75em;

    margin: 0;
    padding: 1em 0 1.25em;

    min-width: 60%;
    width: 20em;
    max-width: 100%;
}

.plan-info {
    color: var(--neutral-desaturated);
    background-color: var(--neutral-pale);
    white-space: nowrap;

    flex-grow: 1.5;
    width: 100%;
    border-radius: 5%;

    padding: 1em;

    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas: 
        "a b d"
        "a c d";
}

.plan-icon {
    margin-right: 1em;

    grid-area: a;
    justify-self: end;
    align-self: center;
}

.plan-title {
    margin: 0;

    grid-area: b;
    justify-content: start;
    align-self: end;
}

.plan-pricing {
    grid-area: c;
    justify-content: start;
    align-self: start;
}

.plan-info a {
    margin-right: 5%;

    grid-area: d;
    justify-self: end;
    align-self: center;
}

.plan-info a:hover,
.plan-info a:focus {
    text-decoration: none;
}

.plan-info a:hover {
    opacity: .75;
}

.plan-info a:focus {
    opacity: .5;
}

.payment-btn,
.cancel-btn {
    display: block;
    
    flex-grow: 1.5;
    min-height: 10%;
    width: 100%;
    margin: .25em 0;

    font-weight: 700;
    font-size: 1em;
}

.payment-btn:hover,
.cancel-btn:hover {
    cursor: pointer;
}

.payment-btn {
    margin-top: 1.25em;

    background-color: var(--primary-two);
    color: var(--neutral-pale);
    border: none;
    border-radius: 10px;

    box-shadow: 0 5px 10px var(--primary-one);
}

.payment-btn:hover {
    opacity: .75;
}

.payment-btn:focus {
    border: 2px solid var(--primary-two);
    background-color: var(--neutral-pale);
    color: var(--neutral-dark);
}

.cancel-btn {
    background-color: transparent;
    border: none;
    color: var(--neutral-desaturated);
}

.cancel-btn:hover {
    color: var(--neutral-dark);
}

.cancel-btn:focus {
    opacity: .5;
}