* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;

    --primary-one: hsl(225, 100%, 94%);
    --primary-two: hsl(245, 75%, 52%);

    --neutral-pale: hsl(225, 100%, 98%);
    --neutral-desaturated: hsl(224, 23%, 55%);
    --neutral-dark: hsl(223, 47%, 23%);
}

body {
    margin: 0;
    background-color: var(--primary-one);
}

h2 {
    font-weight: 900;
    color: var(--neutral-dark);
}

h3 {
    font-weight: 700;
    color: var(--neutral-dark);
}

p {
    font-size: 16px;
    font-weight: 500;
    color: var(--neutral-desaturated);
}

a {
    font-weight: 700;
    color: var(--primary-two);
}

button {
    font-weight: 700;
}

.order-summary-component {
    background-color: white;
    border-radius: 5%;
    overflow: hidden;

    height: 80vh;
    margin: 10vh 2rem;
    padding: 0 5%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-summary-illustration {
    height: 30%;
}

.order-title {
    flex-grow: 1;
}

.order-description {
    flex-grow: 1;
    text-align: center;
}

.plan-info {
    color: var(--neutral-desaturated);
    background-color: var(--neutral-pale);

    flex-grow: 1;
    width: 100%;
    border-radius: 5%;

    display: grid;
    grid-template-areas: 
        "a b d"
        "a c d";
}

.plan-icon {
    grid-area: a;
}

.plan-title {
    grid-area: b;
}

.plan-pricing {
    grid-area: c;
}

.plan-info a {
    grid-area: d;
}

.payment-btn {
    background-color: var(--primary-two);
    color: var(--neutral-pale);
}

.cancel-btn {
    background-color: transparent;
    border: none;
    color: var(--neutral-desaturated);
}